
// .example-card {
//   max-width: 200px;
//   max-height: 500px;
//   margin: auto;
// }

// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }
// .example-image{
//     max-height: 200px;
// }
// .mat-card-actions{
//     display: flex;
// }
// .card-book{
//   margin: 10px;
//   max-width: 300px;
//   max-height: 500px;
// }

.mat-card-actions{
  display: flex;
}

img{
width: 150px;
height: 150px;
box-align: center;
}

.mat-card{
width: 8%;
height: 100%;
float: right;
margin-bottom: 5px;


}
